<div  class="modal fade modalEdit" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <%= render partial: 'eventModal' %>
</div>
<!-- newEventAndDateModal div End -->