// Place all the styles related to the signup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup {
  margin: 50px auto;
  width: 320px;
}
#signup > h1 {
  padding-left: 9.2rem;
}